


<!-- <img id="banner" src="/assets/banner.png" width="100%" height="200px"> -->
<div>
  <h1>MyChat</h1>

  <h3>hello <%= name %> </h3>
</div>
<main class="chatBox">
    <header>
    <p>Chat Room</p>  
    </header>
    <section class="chat">
      <% let chat = messages.reverse() %> 
      <% messages.forEach(message => { %>
          <p><strong><%= message.user.name %>: </strong><%= message.content %> </p>
      <% }) %> 
      <!-- <p><strong>Tommy</strong>: I did not hit her!</p>
      <p><strong>Mark</strong>: ...</p>
      <p><strong>Tommy</strong>: I did not! it's bullshit!</p>
      <p><strong>Tommy</strong>: oh! hi Mark!</p> -->
    </section>
  
    <form method="POST" name="chat" action="./chat/send" autocomplete="off">
      
      
      <input type="text" placeholder="Write a message" name="chat" class="chatInputs" id="input"/>
      <button type="submit" class="chatInputs button">Send</button>
    </form>
    
   <!-- Modal -->
   <div class="col-sm-4">

  
    
    <div class="modal" id='exampleModal' tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Emojis</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>
<!-- Modal Form -->
<% emoji.forEach(emo => { %>
  <div style="display: inline;" class="emoji" onclick="addEmoji(this.innerHTML)" name="<%=emo.slug %>"><%= emo.character %></div>
<% }) %> 

              <!-- Modal Form end -->



            </p>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
<!-- button -->
<!-- button -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Emojis
</button>
  </main>