<h2>MyPage</h2>

 <h3>Welcome <%= name %> </h3>


 <div>
    <div><img src="" alt=""></div>
    <h2><%= name %>'s Page </h2>
 </div>






<div id="emojiTable"></div>
 <form action="/profile/blog" method="post" name="blog">
    <input type="text" name="blog" placeholder="Seen anything cool?">
    <input type="button" id="emojiBtn">emoji</input>
    <button type="submit">post</button>
 </form>
</div>
 <div id="blog">
    <% let blogPost = blog.reverse(); %> 
    <% blogPost.forEach(msg => { %>
   
        <div class="posts" style="border: dotted;"><%- msg.content %><br>
        <div class="commentButtons">
        <form class="commentButtons" action="/profile/edit/<%= msg.id %>"><button class="edit">edit</button></form>
        <form class="commentButtons" action="/profile/delete/<%= msg.id %>"><button class="delete">delete</button></form>
        </div>

    <% }) %> 
</div>
