

<img id="banner" src="http://<%=root%>/assets/banner.png" width="100%" height="200px">


<div>
    <form action="/new/" method="POST" name="gblog" autocomplete="off">
        <input type="text" name="newBlog" placeholder="Tell the world!">
        <label for="topic">Topic</label><br>
        <input type="text" name="topic" placeholder="be cool">
        <button type="submit">post</button>
    </form>
</div>
<div>
    <p>for future links to showcase projects</p>
</div>
    <h3>Global Wall</h3>
    <div id="gblog">
        <% gblogs.forEach(gb => { %>
            <div class="posts" style="border: dotted;">
                <p><%= gb.content %></p><br>
                <small>Topic: <%= gb.topic %> </small><br>
                <p><small>By: <%= gb.user.name %> </small></p>
            
             <button class="edit"><a href="/global/edit/<%= gb.id %>">Edit</a></button>
             <button class="delete"><a href="/global/delete/<%= gb.id %>">Delete</a></button>
             <form action="/<%=gb.id%>/comment" method="POST">
                <input type="text" name="comments">
                <button type="submit">Post</button>           
            </form>
            <% if (Array.isArray(gb.comments) && gb.comments.length > 0) { %>
                <%gb.comments.forEach(comment => { %>
                    <small><%= comment.user.name %> </small>
                   <small><%= comment.content %> </small>
              <%  }) %>
            <% } %> 
    </div><br>
           
    
        <% }) %> 